.mat-radio-button ~
.mat-radio-button,
.btn-book-now {
  margin-left: 1rem;
}

.btn-radio-group {
  margin-top: 1rem;
}

mat-form-field {
  width: 100%;
}

.div-select-booking-type {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.upper-pad {
  margin-top: 1rem;
}

.example-card {
  max-width: 400px;
  margin: auto;
}

.example-header-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZoAAAGaAQMAAAAMyBcgAAAABlBMVEX///8AAABVwtN+AAACBklEQVR4nO2aTa6DMAyELXEAjtSr50gcIJJb/E9pVT29XTyzKIT4Y2U59hQiCIIgCIKg/4hNk+jx+mE+zqe7LF8auwcMQE0gXZxRRJvtPZQUaF7iADWAfE8ySJaSQfYO2TjzC1BDiCOXJHkuG4D6QRoVAa+s2lgqDqBmkFyi25DQ86ix0F/nE6DlIJMF3H88AFAT6KLNWg7LJVn+FKDloI2tCc2xhAyyeYUnoD5QPKn+xWFvM3JnBtQFsiKSDacEaFZFO3rcmg9A60LDzxYtJ/GMLI3ogwAtDGlheUjHGbPJoOhTD78bgHpAnA6F4pk3PqXkiwD1gXZPo/qPSNSZ/d3WArQwNCKqzCY8vZyEkwGoCeT95yx4TiSSZLVZBbQ85OXk2m3EyKouF6BukMi+q9HCEjWlDC2AWkBuU1TDIvGyAagLpEank5ZQcudO+AcnA9C6EIeLyXaibHyZTfhigwJaH9ImNAwLlVoXMar4OwC1gDJATxn7BMsmWP9b5C2NAK0LMdte9bb2sMPZngHqAtWEIjtbtM7kGRSeBqAGkGfKrHvWfPgZJN4WoC7QkEvpO2JA8SY07wC1gLKS5LESY4mo9KmAOkG6J0vfkA6EiO4DCqD1IbKzRXKJwvz8MtUAWheSyxvETlpjenc+AC0LmaZ/c1Vmk/S7vg4ogJaDIAiCIAiC/q4ntU+8ksn13rQAAAAASUVORK5CYII=");
  background-size: cover;
}
